@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
    background-color: #333333;
  }

.thing {
    display:block;
    color:#333333;
    bottom:10px;
}

#statusButton {
    background-color: #f73665;
    display:block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:30px;
    font-family: 'Questrial', sans-serif;
    text-transform: capitalize;
    margin-top:50px;
    position:fixed;
    z-index: 1000;
    box-shadow:2px 2px 2px 2px #181818;
}

.tron {
    margin-top:250px;
    background-color: white;
    display: block;
    border-radius:4px;
    padding:10px;
    height:350px;
    box-shadow:2px 2px 2px 2px;
    overflow: scroll;

}

.RoomName {
    font-size:70px;
    margin-top: -15px;
}

#afterthing {
    color:#66f736;
}

/* .makeScroll {
    
    
} */